.idea/
cmake-build-debug/
log_server
second_server
first/*/.vs
client/.vs
client/x64
first/backend/out
second_server.log
CMakeLists.txt
second/*/CMakeLists.txt
first/*/CMake*.txt
.vscode/
second_server.log
first_server.log 

